@model BloodProject.Models.Registration

@{
    ViewBag.Title = "Login";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/Login.css" rel="stylesheet" />
    
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="main">
            <div class="form-horizontal">
                <form>
                    <h2>Fill out the form below to login</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="clear"></div>
                    <div class="submit-agileits">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <div class="anim">
                    @Html.ActionLink("Click to SignUp", "Signup")
                </div>
                <br />
                <br />
                <div class="anim">
                    @Html.ActionLink("Is Admin", "AdminLogin", "AdminPage")
                </div>

            </div>
        </div>
    }
</body>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>